@font-face {
  font-family: martel;
  src: url('fonts/Martel/Martel-Regular.ttf');
}


* {
  margin: 0;
  padding: 0;
}

.mono-line {
  width: 100%;
  height: 10px;
  background-color: #ccccff;
  display: flex;
}


header {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

.logo > span {
  font-family: martel;
  font-size: 20px;
}


.main-menu {
  width: 560px;
  height: 120px;
  margin-left: 100px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  list-style-image: url('img/home.png');
}

.main-menu > li {
    display: inline;
    padding: 5px;
    font-size: 19px;
    font-weight: 400;
    color: #545454;
}

.main-menu > li > a {
  text-decoration: none;
  color: #545454;
}


#body-main {
  height: 600px;
  margin: 0;
  background-image: url('img/blur.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}

#body-main > h1 {
  font-family: martel;
  font-style: bold;
  font-size: 26px;
  color: #fff;
  padding-top: 250px;
}

#body-main > p {
  padding-top: 25px;
  font-family: martel;
  font-style: bold;
  font-size: 20px;
  color: #fff
}

footer {
  width: 100%;
  height: 64px;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
}


footer > p {
  margin-left: 140px;
}

footer > .facebook {
  height: 32px;
  width: 32px;
  margin-left: 60%;
}

footer > .tumblr {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}

footer > p {
  font-family: martel;
  font-style: bold;
  font-size: 20px;
  color: #000; 
}



/* aboutme.html */


#body {
  display: flex;
  justify-content: center;
  align-items: top;
}

#body > p {
  font-size: 20px;
  line-height: 25px;
  margin-left: 40px;
  font-family: martel;
  font-style: italic;
  color: #000;
}

#me {
  background-image: url('img/prom.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  width: 320px;
  height: 320px;
}


#body-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#me-child {
  background-image: url('img/kharkiv.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  width: 320px;
  height: 320px;
  margin-left: 36px;
}

#body-second {
  font-size: 20px;
  line-height: 25px;
  margin-left: 40px;
}

#body-second > p {
  font-family: martel;
  font-style: italic;
  color: #000;
}

/* HOBBIES SECTION */ 

#body-hobbies {
  display: flex;
  justify-content: center;
  align-items: top;
}


.schoolgirl {
  background-image: url('img/schoolgirl.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  width: 320px;
  height: 400px;
  margin-left: 36px;
  margin-right: 200px;
}

#body-hobbies > ul {
  list-style: none;
  font-size: 18px;
}

#body-hobbies > ul > li {
  margin-top: 5px;
}


.skills > li > p > a {
  text-decoration: none;
}

.skills > li > p {
  font-family: martel;
  font-size: 14px;
  color: #000;
}


/* WORKS PART */

#works {
  display: flex;
  justify-content: center;
  align-items: center;
}

#athena {
  border-radius: 16px;
  height: 350px;
  width: 180px;
  padding: 36px;
  text-align: center;
}

#athena > #draw {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 180px;
  height: 250px;
  background-image: url('img/athena.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}

#athena > h3 {
  margin-top: 5px;
  font-family: martel;
  font-style: bold;
  color: #000;
}

#athena > p {
  font-family: martel;
  font-style: italic;
  color: #000;
  font-size: 14px;
}

#demeter-draw {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 180px;
  height: 250px;
  background-image: url('img/demeter.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}

#belgium-draw {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 180px;
  height: 250px;
  background-image: url('img/belgium.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}

#girl-draw {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 180px;
  height: 250px;
  background-image: url('img/normgirl.png');
  -webkit-background-size: cover;
  background-size: cover;
}


.space {
  height: 300px;
}


/* html element part */


#about-head {
  display: flex;
  justify-content: center;
  align-items: top;
}


#example {
  width: 200px;
  height: 220px;
  border: 2px solid #8366a3;
  border-radius: 8px;
  margin-left: 80px;
}

#overview > p {
  font-family: martel;
  font-style: italic;
  color: #000;
}

#example > p {
  font-family: martel;
  font-style: italic;
  font-size: 12px;
  color: #000;
}

/*CONTACT ME */

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form > form {
  display: flex;
  justify-content: center;
  align-items: center;
   height: 200px;
  width: 400px;
   border: 2px solid #8366a3;
  padding: 8px;
}

#form > form > table {
  display: flex;
  justify-content: center;
  align-items: center;
}
